@import "../constants";

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  bottom: 0;
  height: 100%; /* Full height (cover the whole page) */
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; /* Full width (cover the whole page) */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.spinner {
  animation: spin 1s linear infinite;
  border: 8px solid darken($primary, 25%);
  border-left-color: $primary;
  border-radius: 50%;
  height: 120px;
  margin: calc((100vh / 2) - 60px) auto;
  width: 120px;
  z-index: 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
