/* Bootstrap constants*/
$white: #fff;
$black: #000;
$dark-grey: #666;
$primary: #1e90ff;
$background: #ccc;
$success: #168a16;
$warning: #e69500;
$error: #c51818;
$border-color: #ccc;
$grid-gutter-width: 20px;
$font-size: 16px;
$font-normal: 300;
$font-bold: 600;
