/* stylelint-disable property-no-vendor-prefix */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./constants";

/* Bootstrap overrides */
.form-control {
  font-weight: 300 !important;
}

.btn-primary {
  background-color: $primary;
  color: $white;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary,
.btn-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

html,
body {
  background-color: $background;
  font-family: poppins, sans-serif;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-normal;
  margin: 0;
  padding: 0;
}

.root {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 480px;
  padding: 0;
}

h1 {
  color: $primary;
  font-size: 24px;
  margin: 0 0 24px;

  span {
    margin-left: 16px;
  }
}
